                @import url("normalize.css;");
                * {
                    margin: 0;
                    padding: 0;
                    box-sizing: border-box;
                }
                
                body {
                    margin-inline: auto;
                    min-width: 280px;
                }
                
                header {
                    background-color: #02A3E8;
                    margin-top: 0;
                    text-align: left;
                    min-height: 5em;
                }
                
                a {
                    color: #000;
                }
                /*alla p-element*/
                
                p {
                    line-height: 30px;
                    letter-spacing: 1.5px;
                    font-size: 1.1em;
                }
                /*design ipad*/
                
                @media screen and (min-width: 600px) {
                    p {
                        line-height: 40px;
                        letter-spacing: 2px;
                    }
                }
                /*design dator*/
                
                @media screen and (min-width: 900px) {
                    p {
                        font-size: 1.3em;
                        line-height: 40px;
                        letter-spacing: 2px;
                    }
                }
                /*inställningar för sidrubrik*/
                
                .pageName {
                    position: relative;
                    min-height: 2em;
                    height: 5vh;
                    background-color: rgba(167, 167, 167, 1);
                }
                
                h1 {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    font-size: 1.2em;
                }
                /*design dator*/
                
                @media screen and (min-width: 900px) {
                    .pageName {
                        height: 6vh;
                    }
                    h1 {
                        font-size: 1.5em;
                    }
                }
                /*backgrunden för innehållet*/
                
                .page {
                    background-color: rgba(227, 227, 227, 1);
                    min-height: 72vh;
                }
                /*delar headern i två delar*/
                
                .split {
                    display: flex;
                    flex-direction: column;
                }
                /*logga in text headern*/
                
                .lockText {
                    text-align: center;
                    font-size: 0.8em;
                }
                /*lås-ikonen header*/
                
                .lock {
                    margin-top: 0.5em;
                    width: 30%;
                    max-width: 2.2em;
                    display: block;
                    margin-inline: auto;
                }
                
                footer {
                    background-color: #02A3E8;
                    margin-bottom: 0;
                    width: 100%;
                }
                
                .imageTextFooter {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-top: 1em;
                }
                
                .imageTextFooter p {
                    font-size: 1em;
                }
                /*design för pil-bilderna*/
                
                .arrow {
                    rotate: -135deg;
                    margin-top: 0.05em;
                }
                
                #arrow {
                    rotate: -135deg;
                    margin-left: 0.2em;
                }
                /*design ipad*/
                
                @media screen and (min-width: 600px) {
                    .split {
                        flex-direction: row;
                        width: 100%;
                        margin-inline: auto;
                        justify-content: center;
                        padding-bottom: 2em;
                        gap: 3.5em;
                    }
                    .imageTextFooter {
                        justify-content: left;
                        margin-left: 5%;
                    }
                }
                /*design dator*/
                
                @media screen and (min-width: 900px) {
                    .split {
                        gap: 15vw;
                    }
                    .imageTextFooter {
                        margin-left: 0;
                    }
                }
                /*högra delen av footern*/
                
                .split_left_footer {
                    display: inline-block;
                }
                
                .split_right_footer {
                    display: inline-block;
                    margin-top: 2em;
                    text-align: center;
                    padding-bottom: 3em;
                }
                /*Rubrik till höger*/
                
                .split_right_footer h4 {
                    font-size: 1.2em;
                }
                /*text til höger*/
                
                .split_right_footer p {
                    font-size: 1em;
                }
                /*design ipad*/
                
                @media screen and (min-width: 600px) {
                    /*ökar avståndet mellan länkarna*/
                    .split_right_footer {
                        margin-top: 1.5em;
                    }
                    .split_right_footer h4 {
                        font-size: 1em;
                    }
                }
                /*startsidan*/
                
                .firstpage {
                    padding-top: 5em;
                    text-align: center;
                }
                
                .firstpage h2 {
                    font-size: 1.1em;
                    margin-bottom: 2em;
                }
                /*design ipad*/
                
                @media screen and (min-width: 600px) {
                    .firstpage h2 {
                        font-size: 1.2em;
                        margin-bottom: 3.5em;
                    }
                }
                /*alla knappar på startsidan*/
                
                .firstpage button {
                    width: 15em;
                    padding-top: 0.8em;
                    padding-bottom: 0.8em;
                    margin-bottom: 2em;
                    font-size: 0.85em;
                    background-color: #02A3E8;
                    border-radius: 5px;
                }
                /*design ipad*/
                
                @media screen and (min-width: 630px) {
                    /*storlek på text knappar och mellanrum mellan*/
                    .firstpage button {
                        margin: 1.5em;
                        font-size: 0.95em;
                    }
                }
                /*alla p-element under startsidan*/
                
                .firstpage p {
                    width: 80%;
                    margin-inline: auto;
                    padding-top: 3em;
                }
                /*design ipad*/
                
                @media screen and (min-width: 600px) {
                    .firstpage p {
                        width: 40%;
                    }
                }
                /*design dator*/
                
                @media screen and (min-width: 900px) {
                    .firstpage {
                        width: 70%;
                        margin-inline: auto;
                    }
                }
                /*login-sidan*/
                
                .login {
                    width: 80%;
                    margin-inline: auto;
                    list-style: none;
                    margin-top: 0.5em;
                }
                /*design ipad*/
                
                @media screen and (min-width: 600px) {
                    .login {
                        width: 45%;
                    }
                }
                
                .login h2 {
                    font-size: 1.1em;
                    margin-top: 3em;
                    margin-bottom: 1.6em;
                    text-align: center;
                }
                /*design dator*/
                
                @media screen and (min-width: 900px) {
                    .login {
                        margin-top: 0;
                        width: 30%;
                    }
                    .login h2 {
                        margin-top: 1em;
                    }
                }
                /*design för alla formulär*/
                /* Style inputs, select elements and textareas */
                
                input[type=text],
                input[type=password],
                select,
                textarea {
                    width: 100%;
                    padding: 0.8em;
                    border: 1px solid #ccc;
                    border-radius: 4px;
                    box-sizing: border-box;
                    resize: vertical;
                }
                /*design ipad*/
                
                input[type=password] {
                    margin-bottom: 2em;
                }
                /* Style the label to display next to the inputs */
                
                label {
                    padding: 0.5em 0.5em 0.2em 0;
                    display: inline-block;
                }
                
                .splitbook {
                    display: flex;
                }
                /* Style the submit button */
                
                input[type=submit] {
                    background-color: #02A3E8;
                    color: rgb(0, 0, 0);
                    padding: 0.8em 1.5em;
                    border: none;
                    border-radius: 4px;
                    cursor: pointer;
                    float: right;
                    margin-bottom: 2em;
                    font-size: 0.9em;
                }
                /*design ipad*/
                
                @media screen and (min-width: 600px) {
                    /*gör alla knappar större större*/
                    input[type=submit] {
                        padding: 1em 2em;
                        width: 100%;
                        margin-top: 2em;
                    }
                    .splitbook {
                        flex-direction: row;
                    }
                }
                /* Floating column for inputs: 75% width */
                
                .col-75 {
                    float: left;
                    width: 60%;
                }
                /*design ipad*/
                
                @media screen and (min-width: 600px) {
                    /*gör inmaatningsfälten bredare*/
                    .col-75 {
                        width: 100%;
                    }
                }
                /* Clear floats after the columns */
                
                .row:after {
                    content: "";
                    display: table;
                    clear: both;
                }
                /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
                
                @media screen and (max-width: 600px) {
                    .col-25,
                    .col-75,
                    input[type=submit] {
                        width: 100%;
                        margin-top: 0;
                    }
                }
                
                .login h3 {
                    font-size: 1em;
                    margin-bottom: 0.5em;
                }
                /*alla p-element på login-sidan*/
                
                .login p {
                    text-align: left;
                    font-size: 0.9em;
                }
                
                #divForm {
                    display: block;
                    text-align: center;
                }
                /*bokningssidan*/
                
                .book {
                    width: 80%;
                    margin-inline: auto;
                }
                /*design ipad*/
                
                @media screen and (min-width: 600px) {
                    .book {
                        width: 50%;
                    }
                }
                /*design dator*/
                
                @media screen and (min-width: 900px) {
                    .book {
                        width: 30%;
                    }
                }
                
                .book h2 {
                    margin-top: 1em;
                    text-align: center;
                    font-size: 1.3em;
                }
                /*inställningar för datum*/
                
                imput[type=date] {
                    width: 100%;
                    padding: 1em;
                }
                /*inställningar för chechboxes*/
                
                input[type=checkbox] {
                    margin-bottom: 1.3em;
                    width: 1em;
                    height: 1em;
                }
                /*design ipad*/
                
                @media screen and (min-width: 600px) {
                    input[type=checkbox] {
                        margin-bottom: 2em;
                    }
                }
                
                .backtrip {
                    margin-top: 1em;
                }
                
                #to {
                    margin-bottom: 1em;
                }
                /*marginal neråt till boka-knapp*/
                
                #fellowTraveller {
                    margin-bottom: 2em;
                }
                /*confirm-sidan*/
                
                .confirm {
                    width: 90%;
                    margin-inline: auto;
                }
                /*design ipad*/
                
                @media screen and (min-width: 630px) {
                    .confirm {
                        width: 60%;
                    }
                }
                /*design dator*/
                
                @media screen and (min-width: 900px) {
                    .confirm {
                        width: 50%;
                    }
                }
                
                @media screen and (min-width: 1200px) {
                    .confirm {
                        width: 30em;
                    }
                }
                /*alla listor på confirm-sidan*/
                /*Bekräfta bokning text*/
                
                .confirm h2 {
                    text-align: center;
                    margin-top: 1em;
                    margin-bottom: 1em;
                    font-size: 1.2em;
                }
                
                .confirm h3 {
                    text-align: center;
                    margin-bottom: 1.5em;
                    font-size: 1.1em;
                }
                
                .splitConfirm {
                    display: grid;
                    grid-template-columns: auto auto;
                    gap: 1em;
                    max-width: 30em;
                    align-items: center;
                }
                
                .splitConfirm li {
                    list-style: none;
                }
                
                #splitConfirm2 {
                    margin-top: 3em;
                }
                /*design ipad*/
                
                @media screen and (min-width: 600px) {
                    .splitConfirm {
                        gap: 3em;
                    }
                }
                /*design dator*/
                
                @media screen and (min-width: 900px) {
                    .confirm button {
                        margin-top: 5em;
                        margin-bottom: 3em;
                        width: 20vw;
                    }
                    .confirm button img {
                        width: 10%;
                        left: 25%;
                    }
                }
                /*button div*/
                
                #button {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    gap: 2em;
                    margin-top: 2em;
                }
                /*Nej-knapp*/
                
                #noButton {
                    background-color: rgba(229, 62, 62, 1);
                }
                /*ja-knapp*/
                
                #yesButton {
                    background-color: rgba(61, 189, 40, 1);
                }
                /*Alla knappar på confirm-sidan*/
                
                .confirm button {
                    width: 100%;
                    padding: 0.5em 1em;
                    border-radius: 5px;
                    border-color: black;
                    font-size: 1em;
                    position: relative;
                }
                /*Alla bilder på knapparna*/
                
                .confirm button img {
                    width: 7%;
                    position: absolute;
                    top: 50%;
                    left: 35%;
                    -ms-transform: translateY(-50%);
                    transform: translateY(-50%);
                }
                /*design ipad*/
                
                @media screen and (min-width: 600px) {
                    #button {
                        flex-direction: row;
                    }
                    .confirm button {
                        margin-top: 5em;
                        margin-bottom: 3em;
                        width: 25vw;
                    }
                    .confirm button img {
                        width: 12%;
                        left: 25%;
                    }
                }
                /*design dator*/
                
                @media screen and (min-width: 900px) {
                    .confirm button {
                        margin-top: 5em;
                        margin-bottom: 3em;
                        width: 20vw;
                        max-width: 10em;
                    }
                    .confirm button img {
                        width: 10%;
                        left: 25%;
                    }
                }
                /*design dator*/
                
                @media screen and (min-width: 1200px) {
                    .confirm button {
                        margin-top: 5em;
                        margin-bottom: 3em;
                        width: 15vw;
                    }
                    .confirm button img {
                        width: 12%;
                        max-width: 2em;
                        left: 25%;
                    }
                }
                
                .divLi li {
                    display: flex;
                    align-items: center;
                    margin-top: 0.2em;
                }
                
                .divLi p {
                    margin-left: 3%;
                }
                /*bookingconfirmation-sidan*/
                
                .bookingconfirmation {
                    width: 80%;
                    margin-inline: auto;
                    text-align: center;
                    margin-top: 4em;
                }
                /*design ipad*/
                
                @media screen and (min-width: 600px) {
                    .bookingconfirmation {
                        width: 50%;
                        margin-top: 8em;
                    }
                    .divLi p {
                        margin-left: 0;
                    }
                    .divLi li {
                        margin-left: 9%;
                    }
                }
                /*design dator*/
                
                @media screen and (min-width: 900px) {
                    .bookingconfirmation {
                        width: 35%;
                        margin-top: 4em;
                    }
                    .divLi ul {
                        text-align: center;
                    }
                }
                /*sätter check-ikonens sotrlek*/
                
                #confirmIcon {
                    width: 10%;
                }
                /*Alla p-element på bokningsbekräftelse-sidan*/
                
                .bookingconfirmation p {
                    text-align: left;
                    margin-top: 1em;
                }
                /*placerar "mina resort:knappen*/
                
                #myTripsLink {
                    margin-top: 4em;
                }
                
                #myTripsLink ul {
                    list-style: none;
                    text-align: left;
                }
                /*design ipad*/
                
                @media screen and (min-width: 600px) {
                    #myTripsLink ul {
                        margin-left: -3em;
                    }
                }
                /*kontakta oss-sidan*/
                
                .contact {
                    margin-top: 4em;
                    width: 60%;
                    margin-inline: auto;
                }
                /*Alla h2 och h3 under kontakta oss sidan*/
                
                .contact h2,
                h3 {
                    font-size: 1.1em;
                    margin-bottom: 0.7em;
                }
                /*p-element på kontakta oss sidan*/
                
                .contact p {
                    margin-top: 1em;
                    margin-bottom: 3em;
                }
                /*design ipad*/
                
                @media screen and (min-width: 600px) {
                    .contact {
                        width: 40%;
                    }
                }
                /*design dator*/
                
                @media screen and (min-width: 900px) {
                    .contact {
                        width: 30%;
                    }
                }
                /*informations-sidan*/
                
                .info {
                    width: 80%;
                    margin-inline: auto;
                    letter-spacing: 1px;
                    line-height: 1.5em;
                    margin-top: 1em;
                }
                /*design ipad*/
                
                @media screen and (min-width: 600px) {
                    .info {
                        width: 45%;
                        margin-top: 3em;
                    }
                }
                /*design dator*/
                
                @media screen and (min-width: 900px) {
                    .info {
                        width: 33%;
                    }
                }
                /*alla h2 på informations-sidan*/
                
                .info h2,
                h3 {
                    margin-top: 1.5em;
                    margin-bottom: 0.7em;
                    font-size: 1.2em;
                }
                /*sätter listorna smalare än texten*/
                
                .info ol {
                    width: 90%;
                    margin-inline: auto;
                }
                
                .info ul {
                    width: 90%;
                    margin-inline: auto;
                }
                
                .info li {
                    margin-top: 0.7em;
                }
                /*mina resor sida*/
                
                .myTrips {
                    text-align: center;
                }
                
                .myTrips h2 {
                    margin-top: 1em;
                    text-align: center;
                    font-size: 1.2em;
                }
                /*reskorten*/
                
                .trippCard {
                    background-color: white;
                    position: relative;
                    width: 90%;
                    margin-inline: auto;
                    border-radius: 8px;
                    text-align: left;
                    max-width: 30em;
                }
                
                .trippCard h3 {
                    font-size: 1em;
                    margin: 1em;
                    padding-top: 1em;
                }
                
                .trippCard li,
                .trippCardBottom li {
                    list-style: none;
                    margin-left: 0;
                }
                
                .trippCard ul {
                    margin-left: 0.5em;
                    width: 90%;
                }
                /*resor destinationer*/
                
                .split_trips_left {
                    flex: 3.5 0 0;
                }
                /*tid för resa höger sida*/
                
                .split_trips_right {
                    flex: 1 0 0;
                }
                
                #makeRepeated {
                    width: 60%;
                    padding: 1em 0 1em 0;
                    background-color: #02A3E8;
                    border-radius: 7px;
                    margin-top: 1.5em;
                    font-weight: bold;
                    max-width: 21em;
                }
                
                .trippCardBottom {
                    background-color: white;
                    position: relative;
                    width: 90%;
                    max-width: 30em;
                    margin-inline: auto;
                    border-radius: 8px;
                    text-align: left;
                }
                
                .padding {
                    padding-bottom: 1em;
                }
                
                .trippCardBottom ul {
                    margin-left: 0.5em;
                    margin-top: 1em;
                }
                
                .trippCardBottom button,
                .trippCard button {
                    padding: 0.5em;
                    font-size: 1em;
                    border-radius: 7px;
                    margin: 0 1em 1em;
                }
                
                .form1 {
                    background-color: rgb(115, 137, 115);
                }
                
                .form2 {
                    background-color: #E53E3E;
                }
                /*design ipad*/
                
                @media screen and (min-width: 600px) {
                    .trippCard {
                        width: 60%;
                    }
                    .trippCard ul {
                        width: 100%;
                    }
                    .trippCardBottom {
                        width: 60%;
                    }
                    .trippCardBottom ul {
                        margin-top: 2em;
                        width: 100%;
                    }
                    #makeRepeated {
                        width: 60%;
                    }
                }
                
                .buttontrippcard {
                    width: 100%;
                    margin-inline: auto;
                    display: flex;
                    justify-content: space-between;
                }
                
                .divLiTrips {
                    margin-left: 2.5em;
                }
                
                .divLiTrips li {
                    display: flex;
                    align-items: center;
                    margin-top: 0.2em;
                }
                
                .divLiTrips p {
                    margin-left: 3%;
                }
                
                .centre {
                    display: inline-flex;
                    text-align: center;
                }
                
                .lefttext {
                    text-align: left;
                }
                
                .imageText {
                    display: flex;
                    align-items: center;
                    justify-content: center
                }
                
                .text p {
                    text-align: center;
                }
                
                nav {
                    list-style: none;
                    box-sizing: border-box;
                }
                
                nav a {
                    text-decoration: none;
                }
                
                .logo4 {
                    font-size: 1.7em;
                    line-height: 80px;
                    margin-left: 0.5em;
                }
                
                nav ul {
                    float: right;
                    margin-right: 20px;
                }
                
                nav ul li {
                    display: inline-block;
                    line-height: 85px;
                    margin: 0 5px;
                }
                
                @media screen and (min-width: 1150px) {
                    nav ul li {
                        margin: 0 15px;
                        font-size: 1.1em;
                    }
                }
                
                nav ul li a {
                    font-size: 1em;
                    padding: 0;
                    border-radius: 3px;
                    text-transform: uppercase;
                }
                
                a.active,
                a:hover {
                    transition: .5s;
                    color: white;
                }
                
                .checkbtn {
                    font-size: 30px;
                    line-height: 60px;
                    float: right;
                    cursor: pointer;
                }
                
                #check {
                    display: none;
                }
                
                .logout a {
                    text-decoration: underline;
                }
                
                @media screen and (max-width: 940px) {
                    .logo4 {
                        font-size: 1.7em;
                    }
                    nav ul li a {
                        font-size: 1em;
                    }
                    .chechbtn {
                        display: block;
                    }
                    nav ul {
                        position: fixed;
                        z-index: 999;
                        width: 50%;
                        height: 100vh;
                        left: -100%;
                        top: 5em;
                        transition: all .5s;
                        text-align: center;
                        background-color: rgba(205, 205, 205, 1);
                    }
                    nav ul li {
                        display: block;
                        margin: 5vh 0;
                        line-height: 30px;
                    }
                    #check:checked~ul {
                        left: 0;
                    }
                }
                
                @media screen and (max-width: 800px) {
                    .chechbtn {
                        display: block;
                    }
                    nav ul {
                        position: fixed;
                        z-index: 999;
                        width: 100%;
                        min-height: 100vh;
                        left: -100%;
                        top: 5em;
                        transition: all .5s;
                        text-align: center;
                        background-color: rgba(205, 205, 205, 1);
                    }
                    nav ul li {
                        display: block;
                        margin: 2vh 0;
                        line-height: 30px;
                        font-size: 1.2em;
                        margin: 2em;
                    }
                    a:hover,
                    a.active {
                        background-color: rgba(205, 205, 205, 1);
                        color: white;
                    }
                    #check:checked~ul {
                        left: 0;
                    }
                }
                
                .search {
                    line-height: 105px;
                    margin-right: 1em;
                    float: right;
                }
                
                .search:hover {
                    cursor: pointer;
                }
                
                @media screen and (min-width: 939px) {
                    .checkbtn {
                        display: none;
                    }
                    .searchList {
                        display: none;
                    }
                }
                
                @media screen and (max-width: 360px) {
                    .logo4 {
                        font-size: 1.1em;
                    }
                    .imageTextFooter p {
                        font-size: 0.9em;
                    }
                    nav ul li {
                        margin: 1.7em 0;
                    }
                }
                /*breadcrums*/
                
                ul.breadcrumb {
                    padding: 10px 16px;
                    list-style: none;
                    background-color: rgba(227, 227, 227, 1);
                }
                
                ul.breadcrumb li {
                    display: inline;
                    font-size: 18px;
                }
                
                ul.breadcrumb li+li:before {
                    padding: 8px;
                    color: black;
                    content: "/\00a0";
                }
                
                ul.breadcrumb li a {
                    color: #02A3E8;
                    text-decoration: none;
                }
                
                ul.breadcrumb li a:hover {
                    color: #01447e;
                    text-decoration: underline;
                }